@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.Fonctionnement, .Restaurants{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

/*header*/
.header{
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.25);
    
&__titre{
font-family: 'Shrikhand', "cursive";
text-align: center;
margin: 0;
font-weight: 600;
}
    
}
/*localisation*/

.localisation{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 19px;
    &__icone{
        margin-right: 1rem;
    }
    &__texte{
        font-weight: 800;
    }
}

/*reservation*/
.reservation{
    text-align: center;
    background-color: #fafafa;
    &__titre{
        font-weight: bold;
        text-align: center;
    }

    &__soustitre{
        font-size: 1.4rem;
        font-weight: 300;
        margin: 15px 0;
        text-align: center;
    }

    &__bouton{
        border: 0;
        padding: 0.75rem 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 100px;
        color: white;
        background-color: rgb(104, 104, 104);
        cursor: pointer;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(175deg, #ff79da, #9356dc);
    }

}

/*Fonctionnements*/
.Fonctionnement{
    &__bouton{
    border: 0;
    background-color:#fafafa;
    border-radius: 1.25rem;
    text-decoration: none;
    padding: 2rem;
    display: flex;
    position: relative;
    font-size: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba($color: #000000, $alpha: 0.13);
    margin: 1rem 0 1rem 0.75rem;
    }
    &__etapes{
        display: grid;
    }
    
    &__chiffre{
        background-color: #9356dc;
        color: white;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute; 
        left: -5px;
    }
    &__icone{
        color: grey;
        margin: 2px 0 0 15px;
        display: inline-block;
        width: 20px;

    }
    &__texte{
        margin: 2px 0 0 20px;
        font-weight: 500;

    }
}
/*Restaurants*/

.Restaurants{
    background-color: #fafafa;
    &__vignette{
        background-color: #fff;
        border-radius: 1rem;
        position: relative;
        text-decoration: none;
        color:inherit;
        display: block;
        overflow: hidden;
    }
    &__image{
        height: 12rem;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    &__nouveau{
        background-color: #99e2d1;
        color: #1b6150;
        padding: 0.5rem;
        border-radius: 0.125rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
    }
    &__footer{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative;
        flex: 1;
    }
    &__nom{
        margin : 0 0 0 0.25rem;
        width: 100%;
    }
    &__adresse{
        margin: 0;
    }
    &__coeur{
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: 25px;
    }
}
