@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d1;

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.Fonctionnement, .Restaurants{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

/*header*/
.header{
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.25);
    position: relative;
    
&__titre{
font-family: 'Shrikhand', "cursive";
text-align: center;
margin: 0;
font-weight: 600;
}
&__fleche{
    position: absolute;
    left: 2rem;
    top: 1.9rem;
    width: 2rem;
    height: 2rem;
    color: black;
    font-size: 1.2rem;
}
    
}
/*localisation*/

.localisation{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 19px;
    &__icone{
        margin-right: 1rem;
    }
    &__texte{
        font-weight: 800;
        border:none;
        background-color: transparent;
    }
    &__texte::placeholder{
        color:#000;
        font-size: 19px;
        font-weight:600;
    }
}

/*reservation*/
.reservation{
    text-align: center;
    background-color: #fafafa;
    &__titre{
        font-weight: bold;
        text-align: center;
    }

    &__soustitre{
        font-size: 1.4rem;
        font-weight: 300;
        margin: 15px 0;
        text-align: center;
    }

    &__bouton{
        border: 0;
        padding: 0.75rem 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 100px;
        color: white;
        background-color: rgb(104, 104, 104);
        cursor: pointer;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(175deg, $secondaire, $primaire);
    }

    &__bouton:hover{
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.616);
    }

}

/*Fonctionnements*/
.Fonctionnement{
    &__bouton{
    border: 0;
    background-color:#fafafa;
    border-radius: 1.25rem;
    text-decoration: none;
    padding: 2rem;
    display: flex;
    position: relative;
    font-size: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba($color: #000000, $alpha: 0.13);
    margin: 1rem 0 1rem 0.75rem;
    }
    &__bouton:hover{
        background-color: lighten($color: #fafafa, $amount: 30);
        box-shadow: 0.25rem 0.25rem 0.5rem rgba($color: #000000, $alpha: 0.4);

        .Fonctionnement__icone {
            color:$primaire;
        }
    }
    &__etapes{
        display: grid;
        @media (min-width: 1000px){
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10px;
        }
    }

    &__chiffre{
        background-color: $primaire;
        color: white;
        border-radius: 100%;
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute; 
        left: -5px;
    }
    &__icone{
        color: grey;
        margin: 2px 0 0 15px;
        display: inline-block;
        width: 20px;

    }
    &__texte{
        margin: 2px 0 0 20px;
        font-weight: 500;

    }
}
/*Restaurants*/

.Restaurants{
    background-color: #fafafa;
    &__vignettes{
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
        @media (min-width: 1000px){
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__vignette{
        background-color: #fff;
        border-radius: 1rem;
        position: relative;
        text-decoration: none;
        color:inherit;
        display: block;
        overflow: hidden;
    }
    &__image{
        height: 12rem;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    &__nouveau{
        background-color: $tertiaire;
        color: #1b6150;
        padding: 0.5rem;
        border-radius: 0.125rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
    }
    &__footer{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative;
        flex: 1;
    }
    &__nom{
        margin : 0 0 0.25rem 0;
        width: 100%;
    }
    &__adresse{
        margin: 0;
    }
    &__coeur{
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: 25px;
        &--plein{
            background-image: linear-gradient(175deg, $secondaire, $primaire);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 2px;
        }
        &:hover{
            .Restaurants__coeur--vide{
                transition-duration: 1s;
                opacity:0;
            }

            .Restaurants__coeur--plein{
                transition-duration: 1s;
                opacity:1;
            }
        }
    }

}

/*footer*/
.footer{
    background-color: #3a3434;
    color: white;
    padding: 1rem;
    &__titre{
        font-family: 'Shrikhand', "cursive";
        color: #ffffff;
        margin: 0 0 1rem 0;
        font-size: 1.2rem;   
    }
    &__liste{
        list-style: none;
        padding:0;
        margin:0;
    }
    &__listeElement{
        margin: 0.5rem 0;
    }
    &__lien{
        color:#ffffff;
        text-decoration: none;
    }
    &__icone{
        width:15px;
        margin-right: 10px;
    }
}

/*pagemenu*/
.image__menu{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    max-height: 26rem;
}

.menu{
    margin: -4rem auto 0;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    max-width: 1440px;
    &__header{
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    &__titre{
        font-family: 'Shrikhand', "cursive";
        margin: 2px 0 0 0;
        font-weight: 600;
    }
    &__coeur{
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: 25px;
        &--plein{
            background-image: linear-gradient(175deg, $secondaire, $primaire);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 2px;
        }
        &:hover{
            .menu__coeur--vide{
                transition-duration: 1s;
                opacity:0;
            }

            .menu__coeur--plein{
                transition-duration: 1s;
                opacity:1;
            }
        }
    }
    &__main{
        display:grid;
        @media (min-width: 1150px){
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10px;
        }
    }
    &__bouton{
        margin: 60px auto;
        display: block;
        text-align: center;
    }
}

.liste{
    padding:1rem;
    display: inherit;
    &__titre{
        text-transform: uppercase;
        position:relative;
        padding: 0 0 0.5rem 0;
        font-weight:normal;
    }
    &__titre::after{
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: #99e2d0;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &__item{
        overflow: hidden;
        animation: slide-up 1s both;
        background-color: #fff;
        padding: 1rem;
        display: flex;
        border-radius: 0.75rem;
        margin: 1rem 0;
        max-width: 100%;
        position: relative;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.10);

        &:hover{
            /* Apparition du truc vert */
            .liste__validation{
                opacity:1;
                margin-right: -1rem;
            }

            /* Rotation de l'icone */
            .liste__icone i{
                animation: rotate 0.5s 0.1s both;
            }
        }
    }
    &__texte{
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
    }
    &__plat{
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__description{
        margin: 0;
        padding-top : 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__prix{
        font-size: 16px;
        cursor:pointer;
        font-weight: 600;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right:30px;
        transition-duration: 0.5s;
    }
    &__validation{
        background-color: #99e2d0;
        margin: -1rem -5rem -1rem 0;
        width: 4rem;
        align-items: center;
        justify-content: center;
        display: flex;
        transition-duration: 0.5s;
    }
    &__icone{
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        color: #99e2d0;
    }
    &__icone i{
        transition-duration: 0.5s;
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0);
}
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Premier élément des entrées */
.liste:nth-child(1) .liste__item:nth-of-type(1) {
    animation-delay: 0.1s;
}

.liste:nth-child(1) .liste__item:nth-of-type(2) {
    animation-delay: 0.2s;
}

.liste:nth-child(1) .liste__item:nth-of-type(3) {
    animation-delay: 0.3s;
}

/* Premier élément des plats */
.liste:nth-child(2) .liste__item:nth-of-type(1) {
    animation-delay: 0.4s;
}

.liste:nth-child(2) .liste__item:nth-of-type(2) {
    animation-delay: 0.5s;
}

.liste:nth-child(2) .liste__item:nth-of-type(3) {
    animation-delay: 0.6s;
}

/* Premier élément des desserts*/
.liste:nth-child(3) .liste__item:nth-of-type(1) {
    animation-delay: 0.7s;
}

.liste:nth-child(3) .liste__item:nth-of-type(2) {
    animation-delay: 0.8s;
}

.liste:nth-child(3) .liste__item:nth-of-type(3) {
    animation-delay: 0.9s;
}


.overflow{
    height: 100%;
    position: fixed;
    margin: auto;
    background-color: white;
    z-index:30;
    width: 100%;
    animation: overflow 2.5s;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__loader {
      display: inline-block;
      width: 80px;
      height: 80px;
    }
    &__loader:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid $primaire;
      border-color: $primaire transparent $primaire transparent;
      animation: loader 2.5s linear;
    }
  }
  
  @keyframes overflow {
    0% {
      visibility: visible;
      opacity: 1;
    }
    80% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
